<section class="details-content" *ngIf="!editMode">
    <div class="user-content">
        <div class="course-info">
            <img src="{{ alumn.courseImg }}" alt="">
            <div class="course-name">
                <h2>{{ alumn.mainCourse || 'wtf' }}</h2>
            </div>
        </div>
        <div class="user-info-content">
            <div class="user-info">
                <div class="user-head">
                    <div class="img-main-position">
                        <label for="photo-file">
                            <img src="{{alumn.img || 'https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png' }}"
                                alt="">
                                <input style="display: none;" type="file" id="photo-file">
                        </label>
                        <img style="display: none;" src="{{alumn.img || 'https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png' }}"
                                alt="">
                        <div class="name-age-content">
                            <div>
                                <h2>{{ alumn.name || 'Nombre por defecto' }}</h2>
                                <h3 class="puto-angular" style="display: none;">{{ alumn.laborSituation || 'Desempleado' }}{{ alumn.birthday ? ', ' + (year - alumn.birthday.split('/')[2]) : ''}}</h3>
                                <div class="labor-date-inputs-content">
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="laborSituationSelected">
                                          <mat-option [value]="situation" *ngFor="let situation of laborSituations">
                                            {{ situation }}
                                          </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <input class="input-color-white"  matInput [matDatepicker]="picker" [value]="alumn.birthday" placeholder="{{alumn.birthday}}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div class="edit-btn-content">
                        <button><img src="assets/edit-white-18dp.svg" alt=""></button>
                    </div>
                </div>
                <div class="user-description">
                    <h2>Descripción</h2>
                    <p style="display: none;">{{ alumn.description }}</p>
                    <textarea class="alumn-textarea" name="" id="" cols="30" rows="10"></textarea>
                </div>
                <div class="extra-user-info">
                    <div>
                        <img src="assets/call-white-18dp.svg" alt="">
                        <div style="display: none;">{{ alumn.city }}</div>
                        <input type="text" class="alumn-info">
                    </div>
                    <div>
                        <img src="assets/location_on-white-18dp.svg" alt="">
                        <div style="display: none;">{{ alumn.phone }}</div>
                        <input type="text" class="alumn-info">
                    </div>
                    <div>
                        <img src="assets/email-white-18dp.svg" alt="">
                        <div style="display: none;">{{ alumn.contactEmail }}</div>
                        <input type="text" class="alumn-info">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="course-add-content">
        <h2>Cursos</h2>
        <mat-form-field>
            <mat-select name="course-select" id="" [(ngModel)]="courseSelected" #courseRef="ngModel" required>
                <mat-option [value]="course.name" *ngFor="let course of courses">{{ course.name }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="courses-content">
        <ul class="courses-list">
            <li *ngFor="let course of alumn.courses">
                <img src="{{ course.img }}" alt="">
                <div class="course-name">{{ course.name }}</div>
            </li>
        </ul>
    </div>
    <h2 class="margin-top">Experiencias</h2>
    <div class="experience-content">
        <ul class="experience-list">
            <li *ngFor="let experience of alumn.experiences">
                <div class="experience-info">
                    <div class="company-first-letter">{{ experience.company[0] }}</div>
                    <div>
                        <h2>{{ experience.company }}</h2>
                        <h3>{{ experience.time / 12  }}{{ experience.time < 12 ? ' Meses' : ' Años' }} </h3>
                    </div>
                </div>
                <div></div>
                <div class="years-content">
                    2018 - 2019
                </div>
            </li>
        </ul>
    </div>
</section>

<section class="details-edit-content" *ngIf="editMode">

</section>

<div *ngIf="sessionAlumn && sessionAlumn.id == alumn.id || sessionAdmin">
    <button *ngIf="!editMode" (click)="enterEditMode()">Editar</button>
</div>

<div *ngIf="!editMode">
    <h2>{{alumn.name}}</h2>
    <p>Descripción: {{alumn.description}}</p>
    <ul>
        <li *ngFor="let course of alumn.courses">
            <img height="60px" width="60px" [src]="course.img" alt="Logo del curso">
            <p>Nombre del curso: {{course.name}}</p>
            <p>Número de horas: {{course.hours}}</p>
            <p>Descripción de curso: {{course.description}}</p>
            <ul>Habilidades:
                <li *ngFor="let skill of course.skills">{{skill}}</li>
            </ul>
            <ul>Profesores que imparten el curso:
                <li *ngFor="let professor of course.professors">{{professor}}</li>
            </ul>
            <p>Área del curso: {{course.area}}</p>
            <p>Año del curso: {{course.year}}</p>
            <p>Modalidad del curso: {{course.modality}}</p>
        </li>
    </ul>
    <ul>
        <li *ngFor="let experience of alumn.experiences">
            Nombre de la compañia: {{experience.company}}
            Tiempo contratado: {{experience.time}}
        </li>
    </ul>
    <p>Año de nacimiento: {{alumn.birthday}}</p>
    <p>Número de telefono: {{alumn.phone}}</p>
    <p>Dirección de correo eléctronico: {{alumn.contactEmail}}</p>
    <p>Ciudad: {{alumn.city}}</p>
    <p>{{alumn.laborSituation}}</p>
</div>

<div *ngIf="editMode">
    <div>
        <label for="img">
            <img max-width="250px" max-height="250px" id="img" [src]="alumn.img" alt="Foto de perfil">
            <input type="file" (change)="onFileChange($event)">
        </label>
        <h3>Datos del usuario</h3>
        <button *ngIf="editMode" (click)="exitEditMode()">No editar</button>
        <input placeholder="Nombre" type="text" name="name" id="" [(ngModel)]="thisAlumn.name"><br>
        <input placeholder="Año de nacimiento" type="text" name="birthday" id="" [(ngModel)]="thisAlumn.birthday"><br>
        <input placeholder="Descripción" type="text" name="description" id="" [(ngModel)]="thisAlumn.description"><br>
        <input placeholder="Número de telefono" type="text" name="phone" id="" [(ngModel)]="thisAlumn.phone"><br>
        <input placeholder="Ciudad" type="text" name="city" id="" [(ngModel)]="thisAlumn.city"><br>
        <input placeholder="Email" type="text" name="contactEmail" id="" [(ngModel)]="thisAlumn.contactEmail"><br>
        <select name="" id="" [(ngModel)]="laborSituationSelected">
            <option [value]="situation" *ngFor="let situation of laborSituations">
                {{situation}}
            </option>
        </select><br>

        <!-- -------------- -->
        <input placeholder="Nombre de la empresa" type="text" name="" id="" [(ngModel)]="experience.company"><br>
        <input placeholder="Tiempo trabajado" type="text" name="" id="" [(ngModel)]="experience.time"><br>
        <button (click)="addExperience()">Añadir experiencia</button>
        <button (click)="dataAlumn()">Modificar perfil</button>
    </div>

    <div *ngIf="sessionAdmin">
        <h2>Esto lo ve el administrador</h2>
        <h3>Datos de los cursos</h3>
        <form #myCourseForm="ngForm">
            <mat-form-field>
                <mat-select name="course-select" id="" [(ngModel)]="courseSelected" #courseRef="ngModel">
                    <mat-option [value]="course.name" *ngFor="let course of courses">{{ course.name }}</mat-option>
                </mat-select>
            </mat-form-field><br>   
            <!-- Los inputs son para cursos de fuera de la EOI, no ?¿ si es así faltaría el nombre del curso-->
            <input placeholder="Duración del curso" type="text" name="hours" id="" [(ngModel)]="course.hours" [ngModelOptions]="{standalone: true}"><br>
            <input placeholder="Descripción del curso" type="text" name="description" id=""
                [(ngModel)]="course.description"><br>
            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipListProf aria-label="Professor selection">
                    <mat-chip *ngFor="let professor of newcourse.professors" [selectable]="selectable"
                        [removable]="removable" (removed)="removed(professor)">
                        {{professor}}
                        <mat-icon matChipRemove name ="cancel" *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Profesores:"  name ="chip-profesor" [matChipInputFor]="chipListProf"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addProf($event)">
                </mat-chip-list>
            </mat-form-field><br>
            <input placeholder="Area del curso" type="text" name="area"  [(ngModel)]="course.area" /><br>
            <input placeholder="Año de realización" type="text" name="year" [(ngModel)]="course.year" /><br>
            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList aria-label="Skill selection">
                    <mat-chip *ngFor="let skill of newcourse.skills" name="select-skills" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(skill)">
                        {{skill}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Habilidades:" [matChipInputFor]="chipList" name= "chip-habilidades"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field><br>

            <mat-form-field>
                <mat-select name="modality" id="" [(ngModel)]="modalitySelected">
                    <option [value]="modality" *ngFor="let modality of modalities">{{ modality }}</option>
                </mat-select><br>
            </mat-form-field>
            <button (click)="addCourse()">Añadir curso</button>
        </form>
    </div>
</div>