<h2>Soy la página Details</h2>

<div>
    <button *ngIf="!editMode" (click)="enterEditMode()">Editar</button>
    <button *ngIf="editMode" (click)="exitEditMode()">No editar</button>
</div>
<div *ngIf="!editMode" >
    <h2>{{alumn.name}}</h2>
    <label for="img">
        <img id="img" [src]="alumn.img" alt="Foto de perfil">
        <input type="file" (change)="onFileChange($event)" >
    </label>
    <p >Descripción: {{alumn.description}}</p>
    <ul>
        <li *ngFor="let course of alumn.courses">
            <img height="60px" width="60px" [src]="course.img" alt="Logo del curso">
            <p>Nombre del curso: {{course.name}}</p>
            <p>Número de horas: {{course.hours}}</p>
            <p>Descripción de curso: {{course.description}}</p>
            <ul>Habilidades:
                <li *ngFor="let skill of course.skills">{{skill}}</li>
            </ul>
            <ul>Profesores que imparten el curso:
                <li *ngFor="let professor of course.professors">{{professor}}</li>
            </ul>
            <p >Área del curso: {{course.area}}</p>
            <p >Año del curso: {{course.year}}</p>
            <p >Modalidad del curso: {{course.modality}}</p>
        </li>
    </ul>
    <ul >
        <li *ngFor="let experience of alumn.experiences">
            Nombre de la compañia: {{experience.company}}
            Tiempo contratado: {{experience.time}}
        </li>
    </ul>
    <p>Año de nacimiento: {{alumn.birthday}}</p>
    <p>Número de telefono: {{alumn.phone}}</p>
    <p>Dirección de correo eléctronico: {{alumn.contactEmail}}</p>
    <p>Ciudad: {{alumn.city}}</p>
    <p>{{alumn.laborSituation}}</p>
</div>

<div  *ngIf="editMode">
    <div>
        <h3>Datos del usuario</h3>
        <input placeholder="Nombre" type="text" name="" id="" [(ngModel)]="thisAlumn.name"><br>
        <input placeholder="Año de nacimiento" type="text" name="" id="" [(ngModel)]="thisAlumn.birthday"><br>
        <input placeholder="Descripción" type="text" name="" id="" [(ngModel)]="thisAlumn.description"><br>
        <input placeholder="Número de telefono" type="text" name="" id="" [(ngModel)]="thisAlumn.phone"><br>
        <input placeholder="Ciudad" type="text" name="" id="" [(ngModel)]="thisAlumn.city"><br>
        <input placeholder="Email" type="text" name="" id="" [(ngModel)]="thisAlumn.contactEmail"><br>
        <select name="" id="" [(ngModel)]="laborSituationSelected">
            <option [value]="situation" *ngFor="let situation of laborSituations">
                {{situation}}
            </option>
        </select><br>
        
        <!-- -------------- -->
        <input placeholder="Nombre de la empresa" type="text" name="" id="" [(ngModel)]="experience.company"><br>
        <input placeholder="Tiempo trabajado" type="text" name="" id="" [(ngModel)]="experience.time"><br>
        <button (click)="addExperience()">Añadir experiencia</button>
        <button (click)="dataAlumn()">Modificar perfil</button>
    </div>
    <div>
        <h3>Datos de los cursos</h3>
        <select name="miselect2" id="miselect2" [(ngModel)]="courseSelected">
            <option [value]="course" *ngFor="let course of courses">{{ course }}</option>
        </select><br>
        <input placeholder="Duración del curso" type="text" name="" id="" [(ngModel)]="course.hours"><br>
        <input placeholder="Descripción del curso" type="text" name="" id="" [(ngModel)]="course.description"><br>
        <input placeholder="Area del curso" type="text" name="" id="" [(ngModel)]="course.area"><br>
        <input placeholder="Año de realización" type="text" name="" id="" [(ngModel)]="course.year"><br>
        <select name="" id="" [(ngModel)]="modalitySelected">
            <option [value]="modality" *ngFor="let modality of modalities">{{ modality }}</option>
        </select><br>
        <button (click)="addCourse()">Añadir curso</button>
    </div>
</div>