<div>
    <label for="email">Correo</label>
    <input id="email" type="text" [(ngModel)]="newAlumn.loginEmail" name="loginEmail" #loginEmail="ngModel" >
    <label for="pass">Contraseña</label>
    <input id="pass" type="text"  [(ngModel)]="newAlumn.password" name="password">
    <label for="course">Curso al que pertenece:</label>
    <select id="course" [(ngModel)]= "newAlumn.mainCourse" name="courseName" >
        <option *ngFor="let course of courses" [value]="course.name">{{course.name}}</option>
    </select> 
    <button (click)="createNewAlumn()">Dar de Alta</button>
</div>