<div class="add-user-from-content" *ngIf="session">
    <h2>Crear Alumno</h2>
    <form #myForm="ngForm" class="add-from">
        <label for="name">Nombre y apellido del Alumno</label>
        <input id="name" type="text" [(ngModel)]="newAlumn.name" name="name" #name="ngModel" pattern="^[a-zA-ZáéíóúÁÉÍÓÚ]{2,}\s[a-zA-ZáéíóúÁÉÍÓÚ]{4,}\s*[a-zA-ZáéíóúÁÉÍÓÚ]*$" required placeholder="Nombre Apellido">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" >
            <div *ngIf="name.errors.required">
                <p>Se require el campo Nombre.</p>
            </div>
            <div *ngIf="name.errors.pattern">
                <p>El nombre no cumple el patrón.</p>
            </div>
        </div>

        <label for="email">Correo</label>
        <input id="email" type="text" [(ngModel)]="newAlumn.loginEmail" name="loginEmail" #loginEmail="ngModel" appEmailValidator placeholder="Correo">
        
        <div *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)">
            <div *ngIf="loginEmail.errors.cus_required">
                <p>Se require el campo email.</p>
            </div>
            <div *ngIf="loginEmail.errors.shouldMatchPattern">
                <p>Email debe tener un formato de dominio válido</p>
            </div>
        </div>
        <label for="pass">Contraseña</label>
        <input id="pass" type="password" minlength="5" [(ngModel)]="newAlumn.password" name="password" #password="ngModel" required placeholder="Contraseña">
        <div *ngIf="password.invalid && (password.dirty || password.touched)"> 
            <div *ngIf="password.errors.required">
                <p>Se require el campo contraseña.</p>
            </div>
            <div *ngIf="password.errors.minlength">
                <p>Contraseña mayor de 5 caracteres.</p>
            </div>
        </div>   
        <label for="course">Curso del Alumno</label>
        <mat-form-field >
            <mat-select id="course" [(ngModel)]= "newAlumn.mainCourse" name="courseName"  #courseName = "ngModel" required>
              <mat-option *ngFor="let course of courses" [value]="course.name">
                {{ course.name }}
              </mat-option>
            </mat-select>
        </mat-form-field>
        <div *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)">
            <div *ngIf="courseName.errors.required">
                <p>Elige una opción de curso</p>
            </div>    
        </div>
        <button (click)="createNewAlumn(myForm)">Dar de Alta</button>
    </form>


    <!--<h2 class="h2-margin">Crear Curso</h2>
    <form class="add-course-from">
        <label for="name">Nombre</label>
        <input type="text" name="name" id="name" minlength="30" [(ngModel)]="course.name" #nameCourse="ngModel" required>  
        <label for="hours">Número de horas</label>
        <input type="text" name="hours" id="hours" [(ngModel)]="course.hours" #hoursCourse="ngModel" maxlength="3" pattern="[0-9]+" required>
         
        <label for="description">Descripción</label>
        <input type="text" name="description" id="description" [(ngModel)]="course.description"  required>
        <label for="">Profesores</label>
        <div class="chips-content">
            <mat-form-field class="chip-list">
                <mat-chip-list #chipListProf aria-label="Professor selection">
                    <mat-chip *ngFor="let professor of newcourse.professors" [selectable]="selectable"
                        [removable]="removable" (removed)="removed(professor)">
                        {{professor}}
                        <mat-icon matChipRemove name ="cancel" *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input name ="chip-profesor" [matChipInputFor]="chipListProf"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="addProf($event)" />
                </mat-chip-list>
            </mat-form-field>
        </div>
        <label for="area">Área del curso</label>
        <input type="text" name="area" id="area" [(ngModel)]="course.area" />
        <label for="">Skills</label>
        <div class="chips-content">
            <mat-form-field class="chip-list">
                <mat-chip-list #chipList aria-label="Skill selection">
                    <mat-chip *ngFor="let skill of newcourse.skills" formControlName="skills" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(skill)">
                        {{skill}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input [matChipInputFor]="chipList" name= "chip-habilidades"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
        </div>
        <label for="year">Año de realización</label>
        <input type="text" name="year" id="year" [(ngModel)]="course.year" />
        <label for="">Modalidad</label>
        <mat-form-field>
            <mat-select name="modality" id="" [(ngModel)]="course.modality">
                <mat-option [value]="modality" *ngFor="let modality of modalities">{{ modality }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button (click)="createNewCourse()">Añadir curso</button> 
    </form>
</div>-->
<div>
    <h2 class="h2-margin">Crear curso desde componente course-form</h2>
    <app-course-form (notifyAdmin)="addCourseFromChild($event)" ></app-course-form>
</div>
<div class="drop-zone" appDnd (onFileDropped)="onFileChange($event)">
    <label for="img" (dragover)="isDraging = true" (dragleave)="isDraging = false" [ngStyle]="{ 'background-color': isDraging ? '' : 'rgb(221, 221, 221)' }" >
        <input type="file" multiple="false" accept=".xls,.xlsx,.ods" id="img" (change)="dragAndDropFile($event)" #fileDrop>
        <div class="upload-file">
            <button *ngIf="!isExcellLoaded" (click)="fileDrop.click()">Subir archivo</button>
            <span style="display: flex;">{{ isExcellLoaded ? fileName : 'Arrastra el archivo aqui' }} <button (click)="deleteFile()" class="delete-file-icon" *ngIf="isExcellLoaded"><img src="assets/close-black-18dp.svg" alt=""></button></span>
        </div>
    </label>
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
</div>

<h1>Alumnos Cargados</h1>
<ul class="excel-alumn-list">
    <li *ngFor="let excelAlumn of excelAlumnList">
        <div>
            <div class="img-content">
                <img src="{{ excelAlumn.courseImg }}" alt="">
                <div>{{ excelAlumn.courseImg }}</div>
            </div>
            <div class="user-info-content">
                <div>
                    <div class="user-img-icon">
                        <img src="../../../assets/usuario.svg" alt="">
                    </div>
                    <div class="user-info">
                        <h2 class="fucking-angular">{{ excelAlumn.name }}</h2>
                        <h3 class="fucking-angular">{{ excelAlumn.loginEmail }}</h3>
                    </div>
                </div>
                <div></div>
                <div>
                    <button class="delete" (click)="deleteAlumn(excelAlumn)">Eliminar</button>
                    <button class="create" (click)="addAlumnToDB(excelAlumn)">Crear</button>
                    <div *ngIf="excelAlumn.registeringExistingUser">
                        <p>Alumno creado previamente.</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <div *ngIf="excelAlumnList.length == 0" class="no-results-content">
        <img src="assets/no-results.svg" alt="">
    </div>
</ul>