.add-user-from-content {
    margin-top: 90px;
    padding: 16px;
}

.h2-margin {
    margin-top: 16px;
}

.add-user-from-content form {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    padding: 16px;
    border-radius: 2px;
}

.add-user-from-content input {
    height: 35px;
    background-color: #efefef;
    padding: 0px 7px;
}

.add-user-from-content button {
    background-color: var(--blue);
    color: white;
    padding: 7px 0px;
    border-radius: 2px;
}


.add-from label {
    color: white;
    margin: 7px 0px;
}

.excel-alumn-list {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    margin-bottom: 100px;
}

.excel-alumn-list li {
    display: flex;
    flex-direction: column;
    margin: 7px 0px;
    border-radius: 2px;
    background-color: var(--dark);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-content {
    overflow: hidden;
    height: 220px;
    width: 100%;
}

.img-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px 2px 0px 0px;
}

.user-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;

    h2 {
        margin: 0px;
        font-size: 1rem;
        line-height: 1.2rem;
        margin-bottom: 5px;
    }

    h3 {
        margin: 0px;
        font-size: 0.9rem;
        line-height: 1.2rem;
        color: rgb(216, 216, 216);
    }

}

.user-info-content > div {
    display: flex;
}

.user-info-content button {
    border: none;
    margin: 0px 7px;
    color: white;
    padding: 7px 0px;
    border-radius: 2px;
    width: 100px;
    cursor: pointer;
}

.user-info-content button.delete {
    background-color: rgb(205, 50, 50);
    border: none;
    margin: 0px 7px;
}

.user-info-content button.create {
    background-color: var(--blue);
    border: none;
    margin: 0px 7px;
}

.user-img-icon {
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.user-img-icon img {
    height: 40px;
    width: 40px;
}

.drop-zone {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

h1 {
    padding: 0px 16px;
}

.drop-zone label {
    display: flex;
    height: 200px;
    border-radius: 2px 2px 0px 0px;
    position: relative;
    z-index: 1;
    background-color: rgb(192, 192, 192);
}

::ng-deep mat-progress-bar.mat-progress-bar {
    height: 6px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: var(--blue);
}

.upload-file {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-file button {
    background-color: black;
    color: white;
    padding: 7px 16px;
    border-radius: 2px;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 7px;
}

.upload-file span {
    font-size: 0.8rem;
    color: rgb(121, 118, 118);
}


.drop-zone input {
    width: 0px;
    height: 0px;
}

p{
    color: rgb(228, 8, 8);
}
@media (max-width: 600px) {

    .user-info-content {
        display: flex;
        flex-direction: column;
    }

    .user-info-content > div{
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .user-info-content > div:last-child {
        justify-content: unset;
        margin-top: 16px;
    }

    .user-info-content button {
        width: 50%;
    }

}

.upload-file button.delete-file-icon {
    background-color: transparent;
    padding: 0px;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
    transform: translateY(1px);
}

.upload-file button.delete-file-icon img {
    width: 100%;
    height: 100%;
}

.add-course-from label {
    margin: 7px 0px;
    color: white;
}

.chip-list input {
    background-color: transparent;
}

::ng-deep .mat-select-arrow {
    color: white;
}

::ng-deep .mat-select-value {
    color: white;
}

::ng-deep div.mat-form-field-infix {
    border-bottom: 1px solid white;
}

::ng-deep .chips-content .mat-form-field{
    margin-top: -20px !important;
    width: 100% !important;
    font-size: 0.8rem;
}

.chips-content {
    display: flex;
    height: 40px;
    color: white;
}