<!--
<section class="filters-content">
    <label for="">Location</label>
    <select name="miselect1" id="miselect1" [(ngModel)]="locationSelected" >
        <option [value]="location" *ngFor="let location of locations">{{ location }}</option>
    </select>
    <label for="">Courses</label>
    <select name="miselect2" id="miselect2" [(ngModel)]="courseSelected" >
        <option [value]="course" *ngFor="let course of courses">{{ course }}</option>
    </select>
    <label for="">laborSituation</label>
    <select name="miselect3" id="miselect3" [(ngModel)]="laborSituationSelected" >
        <option [value]="laborSituation"  *ngFor="let laborSituation of laborSituations" >{{ laborSituation }}</option>
    </select>
    <button (click)="filterAlumns()">Guardar Filtros</button>
</section>-->

<section class="alumns-list-content">
    <div class="barra-de-busqueda" (window:resize)="onResize($event)">
        <div class="search">
            <input type="text" [(ngModel)]="searchText" (keyup.enter)="search()" placeholder="Buscar...">
            <img class="lupa" src="assets/busqueda.svg" alt="">
        </div>
        <div class="filtrar" *ngIf="isFilterBtnDisabled">
            <button (click)="openFilters()"><img src="assets/filtrar.svg" alt=""></button>
        </div>
        <section class="filters-content" *ngIf="isFilterOpen">
            <div class="filters">
                <label for="">Location</label>
                <select name="miselect1" id="miselect1" [(ngModel)]="locationSelected">
                    <option [value]="location" *ngFor="let location of locations">{{ location }}</option>
                </select>
                <label for="">Courses</label>
                <select name="miselect2" id="miselect2" [(ngModel)]="courseSelected">
                    <option [value]="course" *ngFor="let course of courses">{{ course }}</option>
                </select>
                <label for="">laborSituation</label>
                <select name="miselect3" id="miselect3" [(ngModel)]="laborSituationSelected">
                    <option [value]="laborSituation" *ngFor="let laborSituation of laborSituations">{{ laborSituation }}
                    </option>
                </select>
                <button (click)="filterAlumns()">Guardar Filtros</button>
            </div>
        </section>
    </div>
    <div class="filters-pc-content" *ngIf="!isFilterBtnDisabled">
        <div>
            <h2 class="alumns-title">Alumnos</h2>
        </div>
        <div class="filters-pc">
            <div class="filters-content-pc">
                <label for="">Localizacion</label>
                <select name="miselect1" id="miselect1" [(ngModel)]="locationSelected">
                    <option [value]="location" *ngFor="let location of locations">{{ location }}</option>
                </select>
                <label for="">Cursos</label>
                <select name="miselect2" id="miselect2" [(ngModel)]="courseSelected">
                    <option [value]="course" *ngFor="let course of courses">{{ course }}</option>
                </select>
                <label for="">Situacion Laboral</label>
                <select name="miselect3" id="miselect3" [(ngModel)]="laborSituationSelected">
                    <option [value]="laborSituation" *ngFor="let laborSituation of laborSituations">{{ laborSituation }}
                    </option>
                </select>
            </div>
            <div class="btn-content">
                <button (click)="filterAlumns()"><img src="assets/filtrar.svg" alt=""></button>
            </div>
        </div>
    </div>
    <ul class="alumns-list">
        <li *ngFor="let alumn of alumns, index as i">
            <a routerLink="details/{{alumn.id}}">
                <div class="course-info">
                    <img src="{{ alumn.courseImg }}" alt="">
                    <div class="course-name">
                        <h2>{{ alumn.mainCourse || 'wtf' }}</h2>
                    </div>
                </div>
                <div class="user-info-content">
                    <div class="user-info">
                        <div class="img-main-position">
                            <img src="{{alumn.img || 'https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png' }}"
                                alt="">
                        </div>
                        <div class="name-age-content">
                            <h2>{{ alumn.name || 'Nombre por defecto' }}</h2>
                            <h3>{{ alumn.laborSituation || 'Desempleado' }}, {{ (year - alumn.birthday.split('/')[2]) || 0 }}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</section>