<!--
<section class="filters-content">
    <label for="">Location</label>
    <select name="miselect1" id="miselect1" [(ngModel)]="locationSelected" >
        <option [value]="location" *ngFor="let location of locations">{{ location }}</option>
    </select>
    <label for="">Courses</label>
    <select name="miselect2" id="miselect2" [(ngModel)]="courseSelected" >
        <option [value]="course" *ngFor="let course of courses">{{ course }}</option>
    </select>
    <label for="">laborSituation</label>
    <select name="miselect3" id="miselect3" [(ngModel)]="laborSituationSelected" >
        <option [value]="laborSituation"  *ngFor="let laborSituation of laborSituations" >{{ laborSituation }}</option>
    </select>
    <button (click)="filterAlumns()">Guardar Filtros</button>
</section>-->

<section class="alumns-list-content">
    <div class="barra-de-busqueda" (window:resize)="onResize($event)">
        <div class="search">
            <input type="text" [(ngModel)]="searchText" (keyup.enter)="search()" placeholder="Buscar...">
            <img class="lupa" src="assets/busqueda.svg" alt="">
        </div>
        <div class="filtrar" *ngIf="isFilterBtnDisabled">
            <button (click)="openFilters()"><img src="assets/filtrar.svg" alt=""></button>
        </div>
        <section class="filters-content">
            <div class="filters" [@openClose]="state">
                <div class="selects-content">
                    <label for="">Localización</label>
                    <mat-form-field >
                        <mat-select [(ngModel)]="locationSelected">
                          <mat-option *ngFor="let location of locations" [value]="location">
                            {{ location }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <label for="">Cursos</label>
                    <mat-form-field>
                        <mat-select [(ngModel)]="courseSelected">
                          <mat-option *ngFor="let course of courses" [value]="course.name">
                            {{ course.name }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <label for="">Situación Laboral</label>
                    <mat-form-field>
                        <mat-select  class="select md-no-underline" [(ngModel)]="laborSituationSelected">
                          <mat-option *ngFor="let laborSituation of laborSituations" [value]="laborSituation">
                            {{ laborSituation }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
    
                    <button (click)="filterAlumns()">Guardar Filtros</button>
                </div>
            </div>
        </section>
    </div>
    <div class="filters-pc-content" *ngIf="!isFilterBtnDisabled">
        <div>
            <h2 class="alumns-title">Alumnos</h2>
        </div>
        <div class="filters-pc">
            <div class="filters-content-pc">
                <label for="">Localización</label>
                <mat-form-field >
                    <mat-select [(ngModel)]="locationSelected">
                      <mat-option *ngFor="let location of locations" [value]="location">
                        {{ location }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <label for="">Cursos</label>
                <mat-form-field>
                    <mat-select [(ngModel)]="courseSelected">
                      <mat-option *ngFor="let course of courses" [value]="course.name">
                        {{ course.name }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <label for="">Situación Laboral</label>
                <mat-form-field>
                    <mat-select  class="select md-no-underline" [(ngModel)]="laborSituationSelected">
                      <mat-option *ngFor="let laborSituation of laborSituations" [value]="laborSituation">
                        {{ laborSituation }}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="btn-content">
                <button (click)="filterAlumns()"><img src="assets/filtrar.svg" alt=""></button>
            </div>
        </div>
    </div>
    <ul class="alumns-list">
        <li *ngFor="let alumn of alumns, index as i" [@enter]="">
            <a routerLink="details/{{alumn.id}}">
                <div class="course-info">
                    <img src="{{ alumn.courseImg }}" alt="">
                    <div class="course-name">
                        <h2>{{ alumn.mainCourse || 'wtf' }}</h2>
                    </div>
                </div>
                <div class="user-info-content">
                    <div class="user-info">
                        <div class="img-main-position">
                            <img src="{{alumn.img || 'https://api.adorable.io/avatars/face/eyes4/nose3/mouth7/' + randomColor() }}"
                                alt="">
                        </div>
                        <div class="name-age-content">
                            <h2>{{ alumn.name || 'Nombre por defecto' }}</h2>       
                        <div>
                            <h3 class="puto-angular">{{ alumn.laborSituation || 'Desempleado' }}{{ alumn.birthday ? ', ' + (year - alumn.birthday.split('/')[2]) : ''}}</h3>
                        </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <div *ngIf="alumns.length == 0" class="no-results-content">
            <img src="assets/no-results.svg" alt="">
        </div>
    </ul>
    <div class="get-more-alumns-btn-content" *ngIf="alumns.length == (nAlunms + 20)"><button (click)="getMoreAlums()">Ver más</button></div>
</section>