<nav class="navigation-bar">
    <div> <a routerLink="/">spegc Jobs</a> </div>
    <div></div>
    <div class="user-menu-content">
        <div class="user-menu">
            <div><a href="{{ user.id ? ('http://localhost:4200/details/' + user.id) : 'http://localhost:4200/login' }}"><img async src="{{ user.img }}" alt=""></a></div>
            <div class="menu-btn">
                <div></div>
                <div class="short"></div>
                <div class="medium"></div>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>