<div class="login-form-bar">
    <h1><a href="/">Magec</a></h1>
    <form action="">
        <label for="email">Correo</label>
        <input id="email" type="text" [(ngModel)]="dataLogin.email" name="email" placeholder="email">
        <label for="pass">Contraseña</label>
        <input id="pass" type="password" [(ngModel)]="dataLogin.password" name="password" placeholder="contraseña">
        <button (click)="login()">Log In</button>
    </form>
</div>
<div class="login-img">
    <img src="" alt="">
</div>